/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYMBOLS 1
#define MEDIA 2
#define MODIFY 3
#define BT_BUFFER 4
#define BLUETOOTH 5

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
   &kp LBKT  &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U  &kp I     &kp O   &kp P    &kp RBKT 
   &lt MODIFY TAB &kp A &kp S &kp D &kp F &kp G    &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &mo SYMBOLS
              &kp LGUI &kp LCTL &kp RET       &kp SPC &kp BKSP &kp DEL
                        >;
                };
                symbol_layer {
                        label = "SYMBOL"; 
                        bindings = <
   &kp GRAVE   &kp N1  &kp N2 &kp N3 &kp N4 &kp N5   &kp N6    &kp N7   &kp N8   &kp N9 &kp N0    &kp BSLH
   &trans    &trans &trans &trans &trans &trans     &kp EQUAL    &none &none &none &none &tog MODIFY
   &trans    &trans  &trans &trans &trans &trans     &kp MINUS &none    &none    &none  &none  &trans
                            &trans &trans &trans   &trans &trans  &trans
                        >;
                };
                control_layer {
                        label = "MEDIA";
                        bindings = <
   &kp F1 &kp F2     &kp F3       &kp F4       &kp F5     &kp F6   &kp F7  &kp F8   &kp F9      &kp F10 &kp F11 &kp F12
   &trans &kp C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT &none    &kp INS &kp HOME &kp PG_UP   &none   &none   &trans 
   &trans  &trans &none &none &none &to BT_BUFFER    &kp DEL &kp END  &kp PG_DN   &none   &none   &trans
                             &kp LALT &kp LCTL &kp C_PLAY_PAUSE    &kp C_MUTE &trans &to DEFAULT
                        >;
                };
                
                 nav_layer {
                        label = "MODIFY";
                            bindings = <
   &trans &trans &trans &trans &trans &kp ESC   &trans &trans &trans &trans &trans &trans 
   &trans &trans &trans &trans &trans &trans   &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &tog MODIFY
   &trans &trans &trans &trans &trans &trans   &none  &none  &none  &none  &none  &trans
                 &trans &trans &trans          &trans &trans &trans
                        >;
                };
                
                 bluetooth_buffer {
                        label = "BT-OTW";
                        bindings = <
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans 
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                 &trans &trans &trans   &to BLUETOOTH &trans &trans
                        >;
                };
               
               
                 bluetooth_layer {
                        label = "BLU2TH";
                        bindings = <
   &none  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none
   &none  &none  &none  &none  &bt BT_CLR  &none    &none  &bt BT_CLR  &none  &none  &none  &none
   &none  &to DEFAULT  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                  &trans &trans &to DEFAULT    &to DEFAULT &none &none
                        >;
                };

        };
};
